<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot Service</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="dev">
    <menu>
        <ul>
            <li><a href="/"><%= lang.nav.video %></a> </li>
            <li><a href="/music"><%= lang.nav.music %></a> </li>
            <li><a href="/images"><%= lang.nav.image %></a> </li>
            <li><a href="/screenshot"><%= lang.nav.screenshot %></a> </li>
        </ul>
    </menu>
    <header class="dev">
        <h2><%= type %></h2>
        <p><%= lang.dev %> </p>
    </header>
</body>
</html>