<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="/resources/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/resources/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/resources/android-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/resources/apple-touch-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-config" content="/resources/browserconfig.xml">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <menu>
            <ul>
                <li><a href="/"><%= lang.nav.video %></a> </li>
                <li><a href="/music"><%= lang.nav.music %></a> </li>
                <li><a href="/images"><%= lang.nav.image %></a> </li>
                <li><a href="/tv"><%= lang.nav.tv %></a> </li>
            </ul>
        </menu>
    <header>
        <h1 class="logo item-start">
            WiiUMC SERVER
        </h1>
        <div>
            <p><%= lang.Description %></p>
            <p><b>&copy; Carlos Núñez</b></p>
        </div>

    </header>
    <main class="body-content post-list">
        <div class="container">
            <form>
                <input type="text" placeholder="<%= lang.search.placeholder %>" name="query" id="query">
                <button id="searchbtn" class="btn search" type="submit"><%= lang.search.button %> </button>
            </form>
        </div>
        <div class="container">
            <ul>
                <% tvShows.items.forEach(e => { %>
                    <li class="item">
                      <img src="<%= e.tvg.logo %>"/>
                        <a href="/tv/<%= e.name %>">
                            <%= e.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </main>
    <script>
        let search, searchbtn;
        search = document.getElementById("query");
        searchbtn = document.getElementById("searchbtn");
        searchbtn.addEventListener("click",e=>{
            e.preventDefault();
            location.href = "/tv-search/" + search.value
        })
    </script>
</body>
</html>

