<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot Service</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/resources/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/resources/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/resources/android-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/resources/apple-touch-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-config" content="/resources/browserconfig.xml">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <menu>
        <ul>
            <li><a href="/"><%= lang.nav.video %></a> </li>
            <li><a href="/music"><%= lang.nav.music %></a> </li>
            <li><a href="/images"><%= lang.nav.image %></a> </li>
            <li><a href="/tv"><%= lang.nav.tv %></a> </li>
        </ul>
    </menu>
    <header>
        <h2><%= lang.screenshot.title%></h2>
        <p><%= lang.screenshot.description %></p>
    </header>
    <div id="postIt">
        <h3><%= lang.screenshot.postIt.goto %></h3>
        <p><%= refcode %></p>
    </div>

</body>
</html>